.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.input {
  width: 100%;
  margin-bottom: 20px;
}
.remaining {
  border-top: 1px solid #dad8d8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .filter-button {
    padding: 0 10px;
    color: #35495d;
    font-weight: 500;
    font-size: 12px;
    &:hover {
      border-color: #42b983;
      color: #42b983;
    }
  }
}
.check-all-label {
  padding: 0 10px;
  color: #35495d;
  font-weight: 500;
  font-size: 12px;
}
.remaining-count {
  color: #35495d;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}
.remaining-count span {
  color: #42b983;
  font-weight: bold;
}
.ant-input {
  border-radius: 3px !important;
  &:hover {
    border-color: #42b983 !important;
  }
}
.active {
  border-color: hotpink;
  color: hotpink !important;
}
.body {
  width: 100%;
  margin-bottom: 10px;
}
