.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.input {
  width: 100%;
  margin-bottom: 20px;
}
.todo-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.todo {
  flex: 3;
  display: flex;
  align-items: center;
  width: 100%;
}
.actions {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  justify-content: flex-end;
}
.todo-item-label {
  font-size: 15px;
  padding: 0 10px;
  color: #35495d;
  font-weight: 500;
}
.todo-item-input {
  width: 100%;
}
.completed {
  text-decoration: line-through;
  color: #42b983;
}
.icons {
  font-size: 16px;
  padding: 0 5px;
  cursor: pointer;
}
.icons :hover {
  color: #42b983;
}
.item-edit-input {
  margin: 0 0 0 10px;
  padding: 0;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-bottom: 1px solid #42b983;
  border-radius: 0;
  font-size: 15px;
  color: #35495d;
  font-weight: 500;
}
.item-edit-input :focus, ::selection {
  border: unset !important;
}
.remaining {
  border-top: 1px solid #dad8d8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.check-all-label {
  padding: 0 10px;
  color: #35495d;
  font-weight: 500;
  font-size: 12px;
}
.remaining-count {
  color: #35495d;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}
.remaining-count span {
  color: #42b983;
  font-weight: bold;
}
.ant-input {
  border-radius: 3px !important;
  &:hover {
    border-color: #42b983 !important;
  }
}
